.admin-header {position: fixed; left: 0; top: 0; width: 200px; height: 100%; padding: 20px; border-right: 1px solid #e5e5ee; box-sizing: border-box;  background-color: #f5f5fb;}
.admin-header--logo {font-weight: bold; font-size: 20px;}
.admin-header nav {margin-top: 50px;}
.admin-header .admin-menu a {display: block; height: 40px; text-decoration: none; color: #000;}
.admin-header .admin-menu dl {margin: 0;}
.admin-header .admin-menu dt {height: 40px;}
.admin-header .admin-menu dd {margin: 0;}

.body {position: absolute; top: 0; left: 200px; width: calc(100% - 200px); min-height: 100%; padding: 50px; box-sizing: border-box;}


/*
* Temp
*/
.box--secound {margin-top: 20px;}
.box--secound > * {margin-right: 10px;}