.inner {width: 100%; max-width: 1280px; margin: 0 auto; padding: 0 20px;}

header {height: 80px; line-height: 80px;}
.header {position: relative; text-align: center;}
.header h2 {position: absolute; font-size: 20px;}
.header nav {display: inline-block;}
.header nav a {display: inline-block; padding: 0 20px; font-weight: bold;}
.header nav a:nth-child(n+2) {margin-left: 15px;}
.header select {position: absolute; top:calc(50% - 15px); right: 0; width: 80px; height: 30px; border: 1px solid #ddd; padding: 0 10px; outline: none;}
header aside {position: fixed; top: 0; left: 0; width: 100%; height: 100%; padding: 100px; background-color: #fff; z-index: 99;}
header aside a {display: block;}