header {
    display: flex;
    height: 70px;
    line-height: 70px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
header nav {
    display: grid;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
header nav a {
    text-align: center;
    font-weight: bold;
}