.category-box {display: grid;  grid-template-columns: repeat(2, 1fr); gap: 15px; padding: 0 100px 100px;}
.category-box .category a {position: relative; display: flex; padding: 30px; align-items: center; border: 1px solid #eee; border-radius: 10px;}
.category-box .category a:hover {border-color: #bbb;}
.category-box .category a::after {content: ""; position: absolute; display: block; width: 40px; height: 40px; right: 20px; background-image: url(../images/next.png); background-size: contain;}
.category-box .category a:hover::after {background-image: url('../images/next-active.png');}
.category-box .category dl {font-size: 20px;}
.category-box .category dl b {color: #feae01; font-weight: bold;} 
.category-box .category dd {line-height: 20px; font-size: 14px; color: #777; margin-top: 10px;}