body { margin: 0; padding: 0; background-color: rgb(241, 247, 249); } 
.canvas { width: 100%; height: 100%; display: grid; grid-template-columns: repeat(5, 1fr); grid-auto-rows: 200px; } 
.canvas-item { display: flex; width: 100%; height: 100%; padding: 0 15px; align-items: center; justify-content: center; box-sizing: border-box; } 