/*
* Layout
*/
.ui-wrapper__full { position: fixed; top: 0; left: 0; width: 100%; height: 100%; } 
.ui-page { position: fixed; top: 0; left: 250px; width: calc(100% - 250px); height: 100%; padding: 30px 20px; overflow-y: auto; } 
.ui-page__header { position: relative; line-height: 36px; padding: 0 0 24px; font-size: 28px; font-weight: bold; } 
.ui-page__header-sub { line-height: 24px; font-size: 16px; font-weight: 400; } 
.ui-page__header-actions { position: absolute; top: 50%; right: 0; transform: translate(0, -50%); } 
.ui-page__content-fixed { padding-bottom: 85px; } 
.ui-page__footer { margin: 24px 0; padding: 0 18px; } 
.ui-page__footer-divider { width: 100%; border-top: 1px solid #ddd; padding-top: 24px; } 
.ui-page__footer-fixed { position: fixed; bottom: 0; left: 250px; width: calc(100% - 250px); background-color: #fff; margin: 0; padding: 24px 18px; } 
.ui-page__footer-start { text-align: left; } 
.ui-page__footer-center { text-align: center; } 
.ui-page__footer-end { text-align: right; } 
.ui-page__footer-end button { margin-left: 5px; } 

.ui-layout { display: grid; grid-auto-rows: auto; gap: 24px; grid-template-columns: repeat(12,minmax(0,1fr)); } 
.ui-layout--end { justify-items: end; } 

.ui-box { display: flex; gap: 0; overflow-y: auto; } 
.ui-box--row { flex-direction: row; } 
.ui-box--column { flex-direction: column; } 
.ui-box--align-left { justify-content: flex-start; } 
.ui-box--align-center { justify-content: center; } 
.ui-box--align-right { justify-content: flex-end; } 
.ui-box--align-space-between { justify-content: space-between; } 
.ui-box--vertical-left { align-items: flex-start; } 
.ui-box--vertical-middle { align-items: center; } 
.ui-box--vertical-right { align-items: flex-end; } 
.ui-box--vertical-space-between { align-items: space-between; } 

/*
* Navigation
*/
.ui-sidebar { position: absolute; top: 0; left: 0; width: 250px; height: 100%; padding: 0 18px; border-right: 1px solid #ddd; } 
.ui-sidebar__header { padding:24px 0; } 
.ui-sidebar__footer { position: absolute; bottom: 0; left: 0; width: 100%; padding: 18px 24px; } 
.ui-sidebar__next { position:relative; min-height: 50px; line-height: 50px; padding: 0 10px; cursor: pointer; } 
.ui-sidebar__next-selected::after { content: ""; position: absolute; top: calc(50% - 3.5px); left: -5px; display: block; width: 7px; height: 7px; background-color: #116DFF; border-radius: 50%; } 
.ui-sidebar__next a { display: block; } 
.ui-sidebar__next-item { position: relative; min-height: 50px; line-height: 50px; padding: 0 10px; } 
.ui-sidebar__next-item::before { content: ""; display: block; width: 20px; height: 20px; position: absolute; top: 15px; right: 0px; background-image: url('../assets/down-arrow.png'); background-repeat: no-repeat; background-size: 17px; background-position: center; } 
.ui-sidebar__next-item-active::before { transform: scaleY(-1); } 
.ui-sidebar__next-item-list { padding: 0 7px; } 
.ui-sidebar__next-item-list .ui-sidebar__next { min-height: 40px; line-height: 40px; } 

/*
* Text
*/
.ui-text { line-height: 24px; font-size: 16px; } 
.ui-text--tiny { line-height: 15px; font-size: 12px; } 
.ui-text--small { line-height: 18px; font-size: 14px; } 
.ui-text--large { line-height: 30px; font-size: 18px; } 
.ui-text--bold { font-weight: bold; } 
.ui-text--error { color: #d33a28; } 
.ui-text--disabled { color: #bbb; } 
.ui-text--primary { color: #116DFF; } 

/*
* Actions
*/
.ui-button { font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; border: 0; border-radius: 100px; cursor: pointer; display: inline-block; line-height: 1; text-align: center } 
.ui-button--primary { color: white; background-color: #116DFF; } 
.ui-button--disabled { color: #fff !important; background-color: #a8acb6 !important; box-shadow: none !important; } 
.ui-button--warning { color: #fff; background-color: #d33a28; box-shadow: none; } 
.ui-button--secondary { color: #333; background-color: #fff; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset; } 
.ui-button--primary.ui-button--secondary { color: #116DFF; background-color: #fff; box-shadow: #D6E6FE 0px 0px 0px 1px inset; } 
.ui-button--small { font-size: 12px; padding: 10px 16px; } 
.ui-button--medium { font-size: 14px; padding: 11px 20px; } 
.ui-button--large { font-size: 16px; padding: 12px 24px; } 
.ui-button--full { width: 100%;; } 

.ui-text-button { background-color: transparent; border: 0; padding: 11px 20px; color: #116DFF; cursor: pointer; font-weight: 400; } 
.ui-text-button--full { width: 100%; text-align: center; } 
.ui-text-button--small { font-size: 12px; } 
.ui-text-button--medium { font-size: 14px; } 
.ui-text-button--large { font-size: 16px; } 

.ui-icon-button { display: flex; justify-content: center; align-items: center; border-radius: 50%; border:1px solid; cursor: pointer; } 
.ui-icon-button img { width: 50%; } 
.ui-icon-button--standard--primary { background-color: #116DFF; border-color: #116DFF; } 
.ui-icon-button--standard--secondary { border-color: #D6E6FE; background-color: #fff; } 
.ui-icon-button--light--primary { border: 0; } 
.ui-icon-button--light--secondary { border-color: rgba(255, 255, 255, 0.50); background-color: transparent; } 
.ui-icon-button--warning--primary { background-color: #d33a28; border-color: #d33a28; } 
.ui-icon-button--warning--secondary { border-color: #d33a28; background-color: #fff; } 
.ui-icon-button--large { width: 40px; height: 40px; } 
.ui-icon-button--medium { width: 36px; height: 36px; } 
.ui-icon-button--small { width: 28px; height: 28px; } 
.ui-icon-button--tiny { width: 22px; height: 22px; } 

.ui-event__action-item { position: relative; padding: 8px 15px; border: 1px solid #ededed; cursor: pointer; } 
.ui-event__action-item-selected { background-color: #F4F7FF; border-color: #D6E6FE; } 
.ui-event__action-item--description { margin-top: 3px; color: #777; font-size: 12px; } 
.ui-event__action-item .ui-action-button { position: absolute; top: 50%; right: 15px; transform: translateY(-50%); z-index: 1; } 
.ui-event__action-item--secondary-list { position: absolute; right: calc(100% + 5px); } 

.ui-action-button { position: relative; width: fit-content; } 
.ui-action-button--primary { display: none; position: absolute; right: calc(100% + 5px); top: 50%; transform: translateY(-50%); } 
*:hover > * > .ui-action-button--primary { display: flex; } 
.ui-action-button--secondary { position: absolute; bottom: calc(100% + 10px); left: calc(50% - 72px); width: 144px; display: flex; flex-direction: column; background-color: #fff; box-shadow: 0 6px 6px 0 rgba(22, 45, 61, 0.06), 0 0 18px 0 rgba(22, 45, 61, 0.12); border-radius: 5px; padding: 10px 0; z-index: 9; } 
.ui-action-button--secondary::before { content: ""; position: absolute; border-width: 8px; border-style: solid; border-color: #fff transparent transparent transparent; left: 50%; bottom: -15px; transform: translateX(-50%); } 
.ui-action-button--secondary li { display: flex; flex-direction: row; line-height: 24px; font-size: 14px; padding: 4px 24px 4px 18px; text-align: left; cursor: pointer; } 
.ui-action-button--secondary li img { width: 24px; height: 24px; margin-right: 3px; vertical-align: middle; } 

.ui-add-item { display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 12px 30px; text-align: center; border-radius: 8px; border: 0; outline: 1px dashed #5999FF; outline-offset:0; background-color: rgba(255,255,255,.48); color: #116DFF; font-weight: 300; cursor: pointer; } 
.ui-add-item:hover { background-color: #E7F0FF; } 
.ui-add-item--large { padding: 30px 30px; font-size: 18px; } 
.ui-add-item--large img { width: 58px; } 
.ui-add-item--medium { padding: 24px 30px; font-size: 16px; } 
.ui-add-item--medium img { width: 42px; } 
.ui-add-item--small { padding: 18px 30px; font-size: 14px; } 
.ui-add-item--small img { width: 22px; } 
.ui-add-item--tiny { flex-direction: row; font-size: 12px; } 
.ui-add-item--tiny img { width: 13px; margin-right: 10px; } 


/*
* Card
*/
.ui-card { width: 100%; background-color: #fff; border-radius: 5px; border:1px solid #ededed; } 
.ui-card hr { height: 1px; background-color: #ededed; margin: 20px 0; } 
.ui-card__tit { position: relative; display: flex; align-items: center; justify-content: space-between; padding: 18px 24px; font-size: 18px; font-weight: bold; } 
.ui-card__suffix { position: absolute; top: 50%; right: 24px; transform: translateY(-50%); } 
.ui-card__tit-main { width: 100%;; font-size: inherit; } 
.ui-card__tit-sub { margin-top: 4px; font-weight: 400; } 
.ui-card__subtit { display: flex; align-items: center; justify-content: space-between; min-height: 42px; padding: 9px 24px; font-size: 16px; background-color: #E7F0FF; border-top: 1px solid; border-bottom: 1px solid; border-color: #A8CAFF; } 
.ui-card__content { display: grid; gap: 15px; padding: 20px; } 
.ui-card__footer { padding: 0 18px 18px; } 

/*
* Input
*/
.ui-input label { display: block; line-height: 14px; margin-bottom: 3px; padding-left: 2px; font-size: 12px; color: #777; } 
.ui-input label em { margin-left: 2px; font-style: normal; font-size: 16px; font-weight: bold; vertical-align: middle; color: #d33a28; } 
.ui-input input { width: 100%; height: 35px; border: 1px solid #ddd; border-radius: 3px; outline: none; padding: 0 10px; box-sizing: border-box; background-color: #fff;} 
.ui-input input::placeholder { color: #bbb; } 
.ui-input--icon { padding-left: 36px !important; background-size: 20px; background-repeat: no-repeat; background-position: 8px center; } 
.ui-input--icon__calendar { background-image: url('../assets/calendar.png'); } 
.ui-input--small { height: 30px; } 
.ui-input--large { height: 40px; } 
.ui-input--readonly { background-color: #e5e8ec; } 

.ui-checkbox label { vertical-align: middle; } 
.ui-checkbox input { display: none; } 
.ui-checkbox input + label { display: inline-block; width: 16px; height: 16px; border: 1px solid #5999FF; background-color: #fff; border-radius: 3px; cursor: pointer; box-sizing: border-box; } 
.ui-checkbox input:checked + label { border-color: #116DFF; background-color:#116DFF; background-image: url('../assets/check.png'); background-position: center; background-repeat: no-repeat; background-size: 8px; } 
.ui-checkbox input:disabled + label { border: 1px solid #bbb; } 
.ui-checkbox input:checked:disabled + label { background-color: #a8acb6; } 
.ui-checkbox__label { line-height: 16px; margin-left: 5px; font-size: 14px; cursor: pointer; } 

.ui-radio { display: flex; flex-direction: row; } 
.ui-radio label { vertical-align: middle; cursor: pointer; } 
.ui-radio input { display: none; } 
.ui-radio input + label { display: inline-block; width: 16px; height: 16px; border: 1px solid #5999FF; background-color: #fff; border-radius: 8px; cursor: pointer; box-sizing: border-box; } 
.ui-radio input:checked + label { border-color: #116DFF; background-color:#116DFF; background-image: url('../assets/check.png'); background-position: center; background-repeat: no-repeat; background-size: 8px; } 
.ui-radio input:disabled + label { border: 1px solid #bbb; } 
.ui-radio input:checked:disabled + label { background-color: #a8acb6; } 
.ui-radio .ui-radio-label { line-height: 16px; margin-left: 5px; font-size: 14px; } 

.ui-upload { display: block; width: 100%; max-width: 350px; border: 1px dashed #116DFF; border-radius: 7px; background-color: rgba(255, 255, 255, 0.6); } 
.ui-upload:hover { background-color:#E7F0FF; } 
.ui-upload label { display: block; width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 40px 0; cursor: pointer; } 
.ui-upload input[type='file'] { display: none; } 
.ui-upload img { width: 50px; } 
.ui-upload .upload-label { margin-top: 20px; color: #116DFF; } 
.ui-upload .upload-description { margin-top: 20px; color: #444; padding: 0 30px; text-align: center; font-size: 14px; } 

.ui-calendar { width: 300px; padding: 24px; border: 1px solid #ddd; border-radius: 10px; background-color: #fff; z-index: 9; } 
.ui-calendar button { border: 0; background-color: transparent; } 
.ui-calendar .react-calendar__navigation { display: flex; justify-content: center; } 
.ui-calendar .react-calendar__navigation__arrow:first-child,
.ui-calendar .react-calendar__navigation__arrow:last-child { display: none; } 
.ui-calendar .react-calendar__navigation__arrow { width: 25px; height: 22px; line-height: 22px; padding: 0; cursor: pointer; color: #5999FF; font-size: 25px; box-sizing: border-box; } 
.ui-calendar .react-calendar__navigation__label { flex-grow: unset; padding: 0 20px; } 
.ui-calendar .react-calendar__navigation__label span { font-size: 18px; } 
.ui-calendar .react-calendar__month-view { text-align: center; } 
.ui-calendar .react-calendar__month-view__weekdays { padding: 18px 0 12px; } 
.ui-calendar .react-calendar__month-view__weekdays__weekday abbr { text-decoration: none; font-size: 14px; } 
.ui-calendar .react-calendar__tile { padding: 9px 0 9px; border-radius: 50%; cursor: pointer; } 
.ui-calendar .react-calendar__tile:hover { background-color: #D6E6FE; } 
.ui-calendar .react-calendar__tile--active { background-color: #116DFF !important; } 
.ui-calendar .react-calendar__tile--active:hover { opacity: 0.7; } 
.ui-calendar .react-calendar__tile--active abbr { color: #fff; } 
.ui-calendar .react-calendar__month-view__days__day--neighboringMonth { opacity: 0.3; } 
.ui-calendar .react-calendar__tile--range:not(.react-calendar__tile--rangeStart, .react-calendar__tile--rangeEnd) { background-color: #E7F0FF !important; } 
.ui-calendar .react-calendar__tile--range:not(.react-calendar__tile--rangeStart, .react-calendar__tile--rangeEnd) abbr { color: #333; } 
.ui-calendar .ui-text-button { margin-top: 10px; } 
.ui-calendar-input { position: relative; } 
.ui-calendar-input .ui-calendar { position: absolute; top: calc(100% + 5px); } 

.ui-time-input { position: relative; } 
.ui-timepicker { position: absolute; top: calc(100% + 3px); left: 0; display: flex; width: 100%; border: 1px solid #ddd; border-radius: 10px; background-color: #fff; z-index: 9; overflow: hidden; } 

.ui-dropdown__layout { width: 100%; overflow-y: scroll; } 
.ui-dropdown__layout-option { height: 35px; line-height: 35px; padding: 0 18px; cursor: pointer; } 
.ui-dropdown__layout-option:hover { background-color: #E7F0FF; } 
.ui-dropdown__layout-option--disabled { color: #bbb; } 
.ui-dropdown__layout-option--active { background-color: #116DFF !important; color: #fff !important; } 

/*
* Modal
*/
.ui-modal { position: fixed; top: 0; left: 0; display: none; align-items: center; justify-content: center; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); z-index: 99; } 
.ui-modal--active { display: flex; } 
/* .ui-modal { position: fixed; top: 0; left: 0; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); } 
.ui-modal .modal { width: calc(100% - 40px); max-width: 500px; background-color: #fff; border-radius: 10px; } 
.ui-modal .modal .modal-header { position: relative; padding: 24px 42px 18px 24px; font-size: 22px; font-weight: bold; } 
.ui-modal .modal .modal-header button { position: absolute; right: 24px; display: inline-block; width: 14px; height: 14px; border: 0; background-color: transparent; background-image: url('./images/close.png'); background-position: center; background-repeat: no-repeat; background-size: contain; cursor: pointer; } 
.ui-modal .modal .modal-content { line-height: 26px; padding:0 24px 6px; font-size: 18px; } 
.ui-modal .modal .modal-footer { display: flex; flex-direction: row-reverse; align-items: center; padding: 18px 24px; } 
.ui-modal .modal .modal-footer-btns { display: flex; } 
.ui-modal .modal .modal-footer-btns button { margin-left: 12px; } */


/*
* Lists
*/
.ui-table table { width: 100%; border-collapse: collapse; border-spacing: 0; } 
.ui-table thead { border-top: 1px solid #A8CAFF; border-bottom: 1px solid #A8CAFF; } 
.ui-table th { height: 40px; line-height: 40px; padding: 0 15px 0; background-color: #E7F0FF; font-weight: 400; } 
.ui-table th i { display: block; width: 16px; height: 16px; background-image: url('../assets/info.png'); background-position: center; background-repeat: no-repeat; background-size: 16px; } 
.ui-table tbody { border-top: 1px solid #ededed; } 
.ui-table tbody tr { border-bottom: 1px solid #ededed; } 
.ui-table td { position: relative; line-height: 60px; padding: 0 15px; vertical-align: middle; } 
.ui-table td.ui-table__column--checked:before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; width: 2px; height: calc(100% + 1px); background-color: #116DFF; } 
.ui-table__column--highlight { font-weight: 500; background-color: #F4F7FF; } 
.ui-table__column--start { text-align: left; } 
.ui-table__column--center { text-align: center; } 
.ui-table__column--end { text-align: right; } 
.ui-table__drag { width: 50px; color:#A8CAFF; text-align: center; } 
.ui-table__checkbox { width: 50px; text-align: center; } 

.ui-table__action-cell { position: relative; } 
.ui-table__action-cell button { width: 30px; height: 30px; vertical-align: middle; border: 1px solid #D6E6FE; border-radius: 50%; background-color: transparent; background-image: url('../assets/more.png'); background-position: center; background-repeat: no-repeat; background-size: 16px; cursor: pointer; transition: all ease 0.2s; } 
.ui-table__action-cell button:hover { background-image: url('../assets/more-hover.png'); background-color: #116DFF; border-color: #116DFF; } 
.ui-table__action-cell--dropdown { position: absolute; top: 90%; left: calc(50% - 72px); width: 144px; display: flex; flex-direction: column; background-color: #fff; box-shadow: 0 6px 6px 0 rgba(22, 45, 61, 0.06), 0 0 18px 0 rgba(22, 45, 61, 0.12); border-radius: 5px; padding: 10px 0; z-index: 9; } 
.ui-table__action-cell--dropdown::before { content: ""; position: absolute; border-width: 8px; border-style: solid; border-color: transparent transparent #fff transparent; left: 50%; top: -15px; transform: translateX(-50%); } 
.ui-table__action-cell--dropdown li { display: flex; flex-direction: row; line-height: 24px; font-size: 14px; padding: 4px 24px 4px 18px; text-align: left; cursor: pointer; } 
.ui-table__action-cell--dropdown li img { width: 24px; height: 24px; margin-right: 3px; vertical-align: middle; } 

.ui-draggable-list { width: 100%; } 
.ui-draggable-list__drag { display: flex; width: 50px; justify-content: center; align-items: center; color:#5999FF;} 
.ui-draggable-list__drag-disabled { color:#ddd; text-align: center; padding: 0 15px; } 
.ui-draggable-list__item { display: flex; position: relative; cursor: pointer; padding: 10px 0; border-radius: 5px;} 
.ui-draggable-list__item:nth-child(2n) {background-color: #F4F7FF;}
.ui-draggable-list__item:nth-child(n+2) { margin-top: 5px; } 
.ui-draggable-list__item-selected { background-color: #E7F0FF; border-color: #D6E6FE; } 
.ui-draggable-list__item .ui-action-button { position: absolute; top: 50%; right: 15px; transform: translateY(-50%); z-index: 1; } 
.ui-draggable-list__item--secondary-list { position: absolute; right: calc(100% + 5px); } 
.ui-draggbale-list__content {width: calc(100% - 100px);}


.event-draggable-list { width: 100%; } 
.event-draggable-list__drag { display: flex; align-items: center; color:#5999FF; text-align: center; padding: 0 15px; } 
.event-draggable-list__drag-disabled { color:#ddd; text-align: center; padding: 0 15px; } 
.event-draggable-list__item { position: relative; display: flex; padding: 8px 15px 8px 0; border: 1px solid #ededed; cursor: pointer; } 
.event-draggable-list__item:nth-child(n+2) { margin-top: 5px; } 
.event-draggable-list__item-selected { background-color: #E7F0FF; border-color: #D6E6FE; } 
.event-draggable-list__item--description { margin-top: 3px; color: #777; font-size: 12px; } 
.event-draggable-list__item .event-action-button { position: absolute; top: 50%; right: 15px; transform: translateY(-50%); z-index: 1; } 
.event-draggable-list__item--secondary-list { position: absolute; right: calc(100% + 5px); } 


/*
* Tooltip
*/
.ui-tooltip { position: relative; display: inline-block; } 
.ui-tooltip__speech-bubble { display: none; position: absolute; width: 150px; bottom: calc(100% + 8px); left: calc(50% + 5px); line-height: 18px; padding: 15px 15px; border-radius: 5px; background-color: #000624; color: #fff; font-size: 13px; font-weight: 300; text-align: left; transform: translate(-50%, 0); } 
.ui-tooltip__speech-bubble::before { content: ""; position: absolute; border-width: 8px; border-style: solid; border-color: #000624 transparent transparent transparent; left: calc(50% - 5px); bottom: -15px; transform: translateX(-50%); } 
.ui-tooltip__speech-bubble--small { bottom: calc(100% + 2px); font-size: 11px; line-height: 14px; padding: 8px; } 
.ui-tooltip__speech-bubble--small:before { display: none; } 
.ui-tooltip__speech-bubble--center { text-align: center; } 
.ui-tooltip:hover .ui-tooltip__speech-bubble { display: inline-block; } 





