.storybook-button { font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; border: 0; border-radius: 8px; cursor: pointer; display: inline-block; line-height: 1; } 
.storybook-button--primary { color: white; background-color: #116DFF; } 
.storybook-button--secondary { color: #333; background-color: #fff; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset; } 
.storybook-button--disabled { color: #fff; background-color: #a8acb6; box-shadow: none; } 
.storybook-button--warning { color: #fff; background-color: #d33a28; box-shadow: none; } 
.storybook-button--small { font-size: 12px; padding: 10px 16px; } 
.storybook-button--medium { font-size: 14px; padding: 11px 20px; } 
.storybook-button--large { font-size: 16px; padding: 12px 24px; } 

.storybook-input {width: 100%; height: 35px; border: 1px solid #ddd; border-radius: 3px; outline: none; padding: 0 10px; box-sizing: border-box;}
.storybook-input::placeholder {color: #bbb;}
.storybook-input--small {height: 30px;}
.storybook-input--large {height: 40px;}
.storybook-input--readonly {background-color: #e5e8ec;}

.storybook-checkbox {display: none;}
.storybook-checkbox + label {width: 16px; height: 16px; border: 1px solid #5999FF; background-color: #fff; border-radius: 3px; cursor: pointer;}
.storybook-checkbox:checked + label {background-color:#116DFF; background-image: url('../images/check.png'); background-position: center; background-repeat: no-repeat; background-size: 8px;}

.storybook-upload {display: block; width: 100%; max-width: 350px; border: 1px dashed #116DFF; border-radius: 7px; background-color: rgba(255, 255, 255, 0.6);}
.storybook-upload:hover {background-color:#E7F0FF;}
.storybook-upload label {display: block; width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 40px 0; cursor: pointer;}
.storybook-upload input[type='file'] {display: none;}
.storybook-upload img {width: 50px;}
.storybook-upload .upload-label {margin-top: 20px; color: #116DFF;}
.storybook-upload .upload-discription {margin-top: 20px; color: #444; padding: 0 30px; text-align: center; font-size: 14px;}

.storybook-modal {position: fixed; top: 0; left: 0; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3);}
.storybook-modal .modal {width: calc(100% - 40px); max-width: 500px; background-color: #fff; border-radius: 10px;}
.storybook-modal .modal .modal-header { padding: 24px 42px 18px 24px; font-size: 22px; font-weight: bold; } 
.storybook-modal .modal .modal-content { line-height: 26px; padding:0 24px 6px; font-size: 18px; } 
.storybook-modal .modal .modal-footer { display: flex; flex-direction: row-reverse; align-items: center; padding: 18px 24px; } 
.storybook-modal .modal .modal-footer-btns { display: flex; } 
.storybook-modal .modal .modal-footer-btns button { margin-left: 12px; } 